body {
	font-family: monospace
}

.content-wrapper {
	max-width: 1000px;
	margin: 0 auto;
}

.sidebar {
	float: left;
	width: 27%;
	background-color: rgb(255, 234, 189);
	border-left: dashed 1px #1f1b21;
	color: #000000;
	height: auto;
	min-height: 100vh;
	padding: 0 0 50px 0;
	
}
.sidebar-dark {
	float: left;
	width: 27%;
	background-color: #1f1b21;
	border-left: dashed 1px #ffffff;
	color: #fffed1;
	height: auto;
	min-height: 100vh;
	padding: 0 0 50px 0;
}


.sidebarcontent {
	width: 27%;
	padding: 0 10px 0 10px;
}
.main {
	float: left;
	width: 65%;
	padding: 0 20px 50px 20px;
	border-left: dashed 1px #1f1b21;
	border-right: dashed 1px #1f1b21;
	background-color: #fefde7;
	color: #000000;
	height: auto;
	min-height: 100vh;
	position: relative;
}
.main-dark {
	float: left;
	width: 65%;
	padding: 0 20px 50px 20px;
	border-left: dashed 1px #ffffff;
	border-right: dashed 1px #ffffff;
	background-color: #171619;
	color: #fffed1;
	height: auto;
	min-height: 100vh;
	position: relative;
}


.maincontent {
	float: left;
	width: 100%;
	position: relative;
	padding: 0 20px 0 10px;
}


.form {
	width: 50%;
	float: left;
}

.button_1 {
	float: right;
	margin-top: 1%;
}

.button_2 {
	float: right;
	margin-top: 1%;
}

hr {
	width: 100%;
}

.editTextBox {
	min-width: 100px;
	min-height: 50px;

}